<div class="client-create-page">
  <div class="row">
    <div class="col-md-12">
      <div class="row ">
        <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4" style="border-right: 1px solid #80808045;background-color: #7b7878a6;">
          <div class="img-div" style="margin-top: 10px;">
            <img class="image-size" style="width: 100px" src="assets/image/user_icon.png" alt="profile image">
          </div>
        </div>

        <div class="col-md-8 col-xs-8 col-sm-8 col-lg-8">
          <form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <h5 style="">{{data.name}}</h5>
            <br>
            <div class="user-info-div">
              <mat-form-field>
                <input matInput placeholder="Designation" [formControl]="designation">
                <mat-icon matSuffix>work</mat-icon>
                <mat-error *ngIf="designation.invalid">{{getErrorMessage('designation')}}</mat-error>
              </mat-form-field>
            </div>

            <div class="user-info-div">
              <mat-form-field>
                <input matInput placeholder="Gender" [formControl]="gender">
                <mat-icon matSuffix>account_circle</mat-icon>
                <mat-error *ngIf="gender.invalid">{{getErrorMessage('gender')}}</mat-error>
              </mat-form-field>
            </div>

            <div class="user-info-div">
              <mat-form-field>
                <input matInput placeholder="Department" [formControl]="department">
                <mat-icon matSuffix>account_balance</mat-icon>
                <mat-error *ngIf="department.invalid">{{getErrorMessage('department')}}</mat-error>
              </mat-form-field>
            </div>

            <div class="user-info-div">
              <mat-form-field>
                <input matInput placeholder="Email" [formControl]="email">
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="email.invalid">{{getErrorMessage('email')}}</mat-error>
              </mat-form-field>
            </div>
            <mat-dialog-actions class="pull-right">
              <button class="mat-raised-button">Done</button>
            </mat-dialog-actions>
          </form>
        </div>

      </div>
    </div>

  </div>