<div>
  <div class="example-header">
    <h6>Document List</h6>
  </div>

  <div class="" mat-dialog-content>
    <mat-table #table [dataSource]="documentList">

      <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
      <!-- Sr No Column -->
      <ng-container matColumnDef="sr_no">
        <mat-header-cell *matHeaderCellDef> Sr. No. </mat-header-cell>
        <mat-cell *matCellDef="let element,let i = index;"> {{i+1}}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>}
        <mat-cell *matCellDef="let element"> {{element.title}}</mat-cell>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
      </ng-container>


      <!-- action Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element">

          <button mat-icon-button title="View Project Document" (click)="showImage(element.path)" color="primary">
            <mat-icon matSuffix>visibility</mat-icon>
          </button>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <mat-dialog-actions class="pull-right">
    <button type="button" mat-raised-button  (click)="dialogRef.close()">Close</button>
  </mat-dialog-actions>

</div>