<div class="client-create-page">
  <div class="row">
    <div class="col-md-12">

      <h5>Client View</h5>
      <br>
      <div class="row field-row">
        <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
          <mat-label>Name</mat-label>
          <div class="client-info-div">{{data.name}}</div>
        </div>
        <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
          <mat-label>Business</mat-label>
          <div class="client-info-div">{{data.business}}</div>
        </div>
      </div>
      <div class="row field-row">
        <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
          <mat-label>Email</mat-label>
          <div class="client-info-div">{{data.email}}</div>
        </div>
        <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
          <mat-label>Mobile No.</mat-label>
          <div class="client-info-div">{{data.mobile}}</div>
        </div>
      </div>
      <div class="row field-row">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
          <mat-label>Address</mat-label>
          <div class="client-info-div">{{data.address}}</div>
        </div>
      </div>
    </div>
  </div>
  <mat-dialog-actions class="pull-right">
      <button type="button" class="mat-raised-button" (click)="close()">Close</button>
  </mat-dialog-actions>
</div>