<h1 mat-dialog-title>Process Parameters</h1>
<div mat-dialog-content>
  <!-- Consumable Section starts here -->
  <div fxLayout="row wrap" class="set-o-bdr">
    <!-- Header  -->
    <div fxFlex.gt-md="40" fxFlex="100">
      <div class="div-label p-10">&nbsp;</div>
    </div>

    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-label text-center p-10">NORMS</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-label text-center p-10">Actual</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-label text-center p-10">Actual</div>
    </div>
    <!--Header ends  -->

    <!-- Acid tank row starts -->
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-label text-center p-10">ACID Tanks</div>
    </div>
    <div fxFlex.gt-md="40" fxFlex="100">
      <div class="div-label text-center p-10">SAMPLING TIME (HRS)</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <!-- Acid tank row ends -->

    <!-- APT - 1  starts here-->
    <!-- Sub 1 -->
    <div fxFlex.gt-md="20" fxFlex="100" class="no-bdr-btm">
      <div class="div-label text-center p-10">&nbsp;</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">CONC %</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">1 - 2 %</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <!-- Sub 1 ends -->

    <!-- Sub 2 -->
    <div fxFlex.gt-md="20" fxFlex="100" class="no-bdr-btm">
      <div class="div-label text-center p-10">APT - 1</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">FE(gm/ Ltr)</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">150</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <!-- Sub 2 ends -->

    <!-- Sub 3 -->
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-label text-center p-10">&nbsp;</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">TEMP &deg;C</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">75 - 85</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <!-- Sub 3 ends -->
    <!-- APT - 1 row ends -->


    <!-- APT - 2  starts here-->
    <!-- Sub 1 -->
    <div fxFlex.gt-md="20" fxFlex="100" class="no-bdr-btm">
      <div class="div-label text-center p-10">&nbsp;</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">CONC %</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">2 - 01% - 4.0</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <!-- Sub 1 ends -->

    <!-- Sub 2 -->
    <div fxFlex.gt-md="20" fxFlex="100" class="no-bdr-btm">
      <div class="div-label text-center p-10">APT - 2</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">FE(gm/ Ltr)</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">150</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <!-- Sub 2 ends -->

    <!-- Sub 3 -->
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-label text-center p-10">&nbsp;</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">TEMP &deg;C</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">75 - 85</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <!-- Sub 3 ends -->
    <!-- APT - 2 row ends -->

    <!-- APT - 3  starts here-->
    <!-- Sub 1 -->
    <div fxFlex.gt-md="20" fxFlex="100" class="no-bdr-btm">
      <div class="div-label text-center p-10">&nbsp;</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">CONC %</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">4 - 01% - 5.0</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <!-- Sub 1 ends -->

    <!-- Sub 2 -->
    <div fxFlex.gt-md="20" fxFlex="100" class="no-bdr-btm">
      <div class="div-label text-center p-10">APT - 3</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">FE(gm/ Ltr)</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">150</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <!-- Sub 2 ends -->

    <!-- Sub 3 -->
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-label text-center p-10">&nbsp;</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">TEMP &deg;C</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">75 - 85</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <!-- Sub 3 ends -->
    <!-- APT - 3 row ends -->

    <!-- APT - 4  starts here-->
    <!-- Sub 1 -->
    <div fxFlex.gt-md="20" fxFlex="100" class="no-bdr-btm">
      <div class="div-label text-center p-10">&nbsp;</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">CONC %</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">6 - 01% - 10.0</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <!-- Sub 1 ends -->

    <!-- Sub 2 -->
    <div fxFlex.gt-md="20" fxFlex="100" class="no-bdr-btm">
      <div class="div-label text-center p-10">APT - 4</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">FE(gm/ Ltr)</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">150</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <!-- Sub 2 ends -->

    <!-- Sub 3 -->
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-label text-center p-10">&nbsp;</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">TEMP &deg;C</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">75 - 85</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <!-- Sub 3 ends -->
    <!-- APT - 4 row ends -->

    <!-- APT - 5  starts here-->
    <!-- Sub 1 -->
    <div fxFlex.gt-md="20" fxFlex="100" class="no-bdr-btm">
      <div class="div-label text-center p-10">&nbsp;</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">CONC %</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">10 - 01% - 14.0</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <!-- Sub 1 ends -->

    <!-- Sub 2 -->
    <div fxFlex.gt-md="20" fxFlex="100" class="no-bdr-btm">
      <div class="div-label text-center p-10">APT - 5</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">FE(gm/ Ltr)</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">150</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <!-- Sub 2 ends -->

    <!-- Sub 3 -->
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-label text-center p-10">&nbsp;</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">TEMP &deg;C</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">75 - 85</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <input type="number" class="table-input text-center" placeholder="Enter">
    </div>
    <!-- Sub 3 ends -->
    <!-- APT - 5 row ends -->

    <!-- Rinse Chamber Starts here -->
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-label text-center p-10">Rinse Chamber - 5</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">PH</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">6.5 - 8.50</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
    </div>
    <!-- Rinse Chamber ends -->

    <!-- Chloride row Starts here -->
    <div fxFlex.gt-md="20" fxFlex="100">
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">Chloride</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">50</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
    </div>
    <!-- Chloride Row ends ends -->

    <!-- Scrubber Unit  Starts here -->
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-label text-center p-10">Scrubber Unit</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">CONC %</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">4 %</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
    </div>
    <!-- Scrubber Unit Row ends ends -->

    <!-- Dryer 1 Starts here -->
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-label text-center p-10">Dryer No - 1</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">Temperature &deg;C</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
      <div class="div-blk-label text-center p-10">80-90</div>
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
    </div>
    <div fxFlex.gt-md="20" fxFlex="100">
    </div>
    <!-- Dryer 1 Row ends ends -->

    <!-- Dryer 2 Starts here -->
    <div fxFlex.gt-md="20" fxFlex="100">
        <div class="div-label text-center p-10">Dryer No - 2</div>
      </div>
      <div fxFlex.gt-md="20" fxFlex="100">
        <div class="div-blk-label text-center p-10">Temperature &deg;C</div>
      </div>
      <div fxFlex.gt-md="20" fxFlex="100">
        <div class="div-blk-label text-center p-10"></div>
      </div>
      <div fxFlex.gt-md="20" fxFlex="100">
      </div>
      <div fxFlex.gt-md="20" fxFlex="100">
      </div>
      <!-- Dryer 2 Row ends ends -->


  </div>
  <!-- Consumable Section ends here -->
</div>
<div mat-dialog-actions class="pull-right m-t-10">
  <button mat-raised-button color="primary" class="m-r-15" (click)="close()">Submit</button>
</div>