<h1 mat-dialog-title>Consumable</h1>
<div mat-dialog-content>
  <!-- Consumable Section starts here -->
  <div fxLayout="row wrap" class="set-o-bdr">
    <div fxFlex.gt-md="30" fxFlex="100">
      <div class="div-label p-10">Consumable</div>
    </div>

    <div fxFlex.gt-md="70" fxFlex="100">
      <div class="div-label text-center p-10">Quantity Consumed</div>
    </div>   

    <!-- RA Row -->
    <div fxFlex.gt-md="30" fxFlex="100">
      <div class="div-blk-label p-10">RA</div>
    </div>

    <div fxFlex.gt-md="35" fxFlex="100">
      <div class="text-center">
        <input type="number" class="table-input text-center" placeholder="Enter">
      </div>
    </div>

    <div fxFlex.gt-md="35" fxFlex="100">
      <div class="text-center">
        <input type="number" class="table-input text-center" placeholder="Enter">
      </div>
    </div>
    <!-- RA row ends here -->

    <!-- Fresh HCL -->
    <div fxFlex.gt-md="30" fxFlex="100">
      <div class="div-blk-label p-10">Fresh HCL</div>
    </div>

    <div fxFlex.gt-md="35" fxFlex="100">
      <div class="text-center">
        <input type="number" class="table-input text-center" placeholder="Enter">
      </div>
    </div>

    <div fxFlex.gt-md="35" fxFlex="100">
      <div class="text-center">
        <input type="number" class="table-input text-center" placeholder="Enter">
      </div>
    </div>
    <!-- Fresh HCL ends here -->

    <!-- Inhibitor row -->
    <div fxFlex.gt-md="30" fxFlex="100">
      <div class="div-blk-label p-10">Inhibitor</div>
    </div>

    <div fxFlex.gt-md="35" fxFlex="100">
      <div class="text-center">
        <input type="number" class="table-input text-center" placeholder="Enter">
      </div>
    </div>

    <div fxFlex.gt-md="35" fxFlex="100">
      <div class="text-center">
        <input type="number" class="table-input text-center" placeholder="Enter">
      </div>
    </div>
    <!-- Inhibitor ends here -->

    <!-- R.P. Oil starts -->
    <div fxFlex.gt-md="30" fxFlex="100">
      <div class="div-blk-label p-10">R. P. Oil</div>
    </div>

    <div fxFlex.gt-md="35" fxFlex="100">
      <div class="text-center">
        <input type="number" class="table-input text-center" placeholder="Enter">
      </div>
    </div>

    <div fxFlex.gt-md="35" fxFlex="100">
      <div class="text-center">
        <input type="number" class="table-input text-center" placeholder="Enter">
      </div>
    </div>
    <!-- R.P. Oil ends here -->

    <!-- Time row starts -->
    <div fxFlex.gt-md="30" fxFlex="100">
      <div class="div-blk-label p-10">Time</div>
    </div>

    <div fxFlex.gt-md="35" fxFlex="100">
      <div class="text-center">
        <input type="number" class="table-input text-center" placeholder="Enter">
      </div>
    </div>

    <div fxFlex.gt-md="35" fxFlex="100">
      <div class="text-center">
        <input type="number" class="table-input text-center" placeholder="Enter">
      </div>
    </div>
    <!-- Time row ends here -->

    <!-- Tank Level Starts -->
    <div fxFlex.gt-md="30" fxFlex="100">
      <div class="div-blk-label p-10">Tank Level</div>
    </div>

    <div fxFlex.gt-md="35" fxFlex="100">
      <div class="text-center">
        <input type="number" class="table-input text-center" placeholder="Enter">
      </div>
    </div>

    <div fxFlex.gt-md="35" fxFlex="100">
      <div class="text-center">
        <input type="number" class="table-input text-center" placeholder="Enter">
      </div>
    </div>
    <!-- Tank Level ends here -->

    <!-- Spent Liquor starts -->
    <div fxFlex.gt-md="30" fxFlex="100">
      <div class="div-blk-label p-10">Spent Liquor (1000KL)</div>
    </div>

    <div fxFlex.gt-md="35" fxFlex="100">
      <div class="text-center">
        <input type="number" class="table-input text-center" placeholder="Enter">
      </div>
    </div>

    <div fxFlex.gt-md="35" fxFlex="100">
      <div class="text-center">
        <input type="number" class="table-input text-center" placeholder="Enter">
      </div>
    </div>
    <!-- Spent Liquor ends -->

    <!-- Rins Water starts -->
    <div fxFlex.gt-md="30" fxFlex="100">
      <div class="div-blk-label p-10">Rins Water (1000KL)</div>
    </div>

    <div fxFlex.gt-md="35" fxFlex="100">
      <div class="text-center">
        <input type="number" class="table-input text-center" placeholder="Enter">
      </div>
    </div>

    <div fxFlex.gt-md="35" fxFlex="100">
      <div class="text-center">
        <input type="number" class="table-input text-center" placeholder="Enter">
      </div>
    </div>
    <!-- Rins water ends -->

    <!-- Time Tonnage Head starts -->
    <div fxFlex.gt-md="30" fxFlex="100">
      <div class="div-blk-label p-10">&nbsp;</div>
    </div>

    <div fxFlex.gt-md="35" fxFlex="100">
      <div class="text-center">
        <div class="div-blk-label p-10">Time</div>
      </div>
    </div>

    <div fxFlex.gt-md="35" fxFlex="100">
      <div class="text-center">
          <div class="div-blk-label p-10">Tonnage</div>
      </div>
    </div>
    <!-- Time Tonnage ends  -->

    <!-- Side Trimmer Knife change starts -->
    <div fxFlex.gt-md="30" fxFlex="100">
      <div class="div-blk-label p-10">Side Trimmer Knife Change</div>
    </div>

    <div fxFlex.gt-md="35" fxFlex="100">
      <div class="text-center">
        <input type="number" class="table-input text-center" placeholder="Enter">
      </div>
    </div>

    <div fxFlex.gt-md="35" fxFlex="100">
      <div class="text-center">
        <input type="number" class="table-input text-center" placeholder="Enter">
      </div>
    </div>
    <!-- Side Trimmer Knife change ends -->
  </div>
  <!-- Consumable Section ends here -->
</div>
<div mat-dialog-actions class="pull-right m-t-10">
  <button mat-raised-button color="primary" class="m-r-15" (click)="close()">Submit</button>
</div>