<div class="client-create-page">
  <div class="row">
    <div class="col-md-12">
      <label>Upload Project Document</label>
      <br>
      <form class="form" [formGroup]="projectDocumentForm" (ngSubmit)="onSubmit()">
        <mat-dialog-content>
          <br>
          <div class="row field-row">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Title" [formControl]="title">
                <mat-error *ngIf="title.invalid">{{getErrorMessage('title')}}</mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Description" [formControl]="description"></textarea>
                <mat-error *ngIf="description.invalid">{{getErrorMessage('description')}}</mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
              <input type="file" class="btn btn-default" id="fileUpload" name="fileUpload" (change)="onChangeFileInpt($event)" style="padding-left: 0px"
              />
              <mat-error *ngIf="file.invalid && submitted">{{getErrorMessage('file')}}</mat-error>
            </div>
          </div>
        </mat-dialog-content>
        <mat-dialog-actions class="pull-right">
          <button type="submit" class="btn rounded-btn btn-sm btn-primary">Save</button>&nbsp;
          <button type="button" class="btn rounded-btn btn-danger btn-sm" (click)="close()">Cancel</button>
        </mat-dialog-actions>

      </form>
    </div>
  </div>
</div>