<!-- Coils To Process section starts here -->
<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Shift Production Log Book
                    <button type="button" class="pull-right m-l-10" mat-mini-fab color="warn" matTooltipPosition="above"
                        matTooltip="Filter">
                        <mat-icon>filter_list</mat-icon>
                    </button>
                </mat-card-title>
                <!-- ============================================================== -->
                <!-- Filter starts here -->
                <!-- ============================================================== -->
                <form class="basic-form m-t-30">
                    <div fxLayout="row wrap">

                        <!-- select Customer column -->
                        <div class="p-r-20" fxFlex.gt-md="33.33" fxFlex="100">
                            <mat-form-field>
                                <mat-select placeholder="Select Customer">
                                    <mat-option value="option">Option</mat-option>
                                    <mat-option value="option">Option2</mat-option>
                                    <mat-option value="option">Option3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- select Customer column ends here-->

                        <!-- thickness column -->
                        <div fxFlex.gt-md="33.33" fxFlex="100">
                            <mat-form-field>
                                <mat-select placeholder="Select Thickness">
                                    <mat-option value="option">Option</mat-option>
                                    <mat-option value="option">Option2</mat-option>
                                    <mat-option value="option">Option3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- thickness column ends here-->

                        <!-- select coil no column -->
                        <div class="p-l-20" fxFlex.gt-md="33.33" fxFlex="100">
                            <mat-form-field>
                                <mat-select placeholder="Select Coil No">
                                    <mat-option value="option">Option</mat-option>
                                    <mat-option value="option">Option2</mat-option>
                                    <mat-option value="option">Option3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- select coil no column ends here -->
                    </div>

                    <div fxLayout="row wrap">

                        <!-- select grade column -->
                        <div class="p-r-20" fxFlex.gt-md="33.33" fxFlex="100">
                            <mat-form-field>
                                <mat-select placeholder="Select Grade">
                                    <mat-option value="option">Option</mat-option>
                                    <mat-option value="option">Option2</mat-option>
                                    <mat-option value="option">Option3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- select grade column ends here-->

                        <!-- select so column -->
                        <div fxFlex.gt-md="33.33" fxFlex="100">
                            <mat-form-field>
                                <mat-select placeholder="Select SO No">
                                    <mat-option value="option">Option</mat-option>
                                    <mat-option value="option">Option2</mat-option>
                                    <mat-option value="option">Option3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- select so no column ends here-->

                        <!-- from date no column -->
                        <div class="p-l-20" fxFlex.gt-md="33.33" fxFlex="100">
                            <mat-form-field class="example-full-width">
                                <input matInput [matDatepicker]="fromDataPicker" placeholder="From">
                                <mat-datepicker-toggle matSuffix [for]="fromDataPicker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi="true" #fromDataPicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <!-- from date column ends here -->
                    </div>

                    <div fxLayout="row wrap">

                        <!-- to date column -->
                        <div class="p-r-20" fxFlex.gt-md="33.33" fxFlex="100">
                            <mat-form-field class="example-full-width">
                                <input matInput [matDatepicker]="toDatePicker" placeholder="To">
                                <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi="true" #toDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <!-- to date column ends here-->

                        <!-- search column -->
                        <div class="p-r-20" fxFlex.gt-md="33.33" fxFlex="100">
                            <button class="m-t-10" mat-raised-button color="primary">SEARCH</button>
                        </div>
                        <!-- search column ends here-->
                    </div>
                </form>

                <!-- Card Layout starts here -->
                <div fxLayout="row wrap" class="tab-parent">
                    <div xFlex.gt-md="100" fxFlex="100" class="btn-tab-container m-t-40 m-b-40">
                        <div class="btn-tab bg-info text-white text-center" [ngClass]="shadow1"
                            (mouseover)="shadow1='mat-elevation-z20'" (mouseout)="shadow1=''">
                            <h5>Downtime Register</h5>
                        </div>

                        <div class="btn-tab bg-purple text-white text-center" [ngClass]="shadow2"
                            (mouseover)="shadow2='mat-elevation-z20'" (mouseout)="shadow2=''">
                            <h5>Process Parameters</h5>
                        </div>

                        <div class="btn-tab bg-success text-white text-center" [ngClass]="shadow3"
                            (mouseover)="shadow3='mat-elevation-z20'" (mouseout)="shadow3=''">
                            <h5>Consumable</h5>
                        </div>

                        <div class="btn-tab bg-inverse text-white text-center" [ngClass]="shadow4"
                            (mouseover)="shadow4='mat-elevation-z20'" (mouseout)="shadow4=''">
                            <h5>Process Equipment Status</h5>
                        </div>

                        <div class="btn-tab bg-megna text-white text-center" [ngClass]="shadow5"
                            (mouseover)="shadow5='mat-elevation-z20'" (mouseout)="shadow5=''">
                            <h5>Scrap Monitoring</h5>
                        </div>
                        <div class="btn-tab bg-info text-white text-center" [ngClass]="shadow6"
                            (mouseover)="shadow6='mat-elevation-z20'" (mouseout)="shadow6=''">
                            <h5>ECS</h5>
                        </div>
                    </div>
                </div>
                <!-- Card Layout ends here -->

                <!-- Table Section starts here -->
                <div class="responsive-table">
                    <table id="coil-to-process-table" mat-table [dataSource]="dataSourceCoils2Process" class="m-t-30">
                        <!-- Sr No. Column-->
                        <ng-container matColumnDef="sr_no_rs">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Sr. No.</th>
                        </ng-container>
                        <ng-container matColumnDef="sr_no">
                            <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> Sr. No. </th>
                            <td mat-cell *matCellDef="let element,let i = index;"> {{i+1}} </td>
                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="date_rs">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Date </th>
                        </ng-container>

                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                        </ng-container>

                        <!-- HR Coil No. Column -->
                        <ng-container matColumnDef="hr_coil_no_rs">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> HR Coil No. </th>
                        </ng-container>
                        <ng-container matColumnDef="hr_coil_no">
                            <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> HR Coil No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.hr_coil_no}} <mat-icon
                                    [tooltip]="coilInfoTipHtml" [options]="tooltipOption"
                                    class="btn-success pull-right m-r-5">info</mat-icon>
                            </td>
                        </ng-container>

                        <ng-template #coilInfoTipHtml>
                            <div fxLayout="row wrap" class="info-pop-up">
                                <div fxFlex.gt-md="100" fxFlex="100">
                                    <div class="pull-left">
                                        <strong>Customer Name : </strong>JSW Steel,Vijaynagar
                                    </div>
                                </div>
                                <div fxFlex.gt-md="50" fxFlex="100">
                                    <div class="pull-left"><strong> SO No : </strong>SO123456</div>
                                    <div class="pull-left"><strong>Start Time : </strong>10 AM</div>
                                    <div class="pull-left"><strong>Delay : </strong>00:15 Min</div>
                                </div>
                                <div fxFlex.gt-md="50" fxFlex="100">
                                    <div class="pull-left"><strong>Next Route : </strong>MILL 2</div>
                                    <div class="pull-left"><strong>End Time : </strong> 10:30 AM</div>
                                    <div class="pull-left"><strong>Scrap : </strong>50 kg</div>
                                </div>
                            </div>
                        </ng-template>

                        <!-- Input Thickness Column -->
                        <ng-container matColumnDef="input_thickness">
                            <th mat-header-cell *matHeaderCellDef> THK(mm) </th>
                            <td mat-cell *matCellDef="let element"> {{element.input_thickness}} </td>
                        </ng-container>

                        <!-- Input Width Column -->
                        <ng-container matColumnDef="input_width">
                            <th mat-header-cell *matHeaderCellDef> Width(mm) </th>
                            <td mat-cell *matCellDef="let element"> {{element.input_width}} </td>
                        </ng-container>

                        <!-- Input Weight Column -->
                        <ng-container matColumnDef="input_weight">
                            <th mat-header-cell *matHeaderCellDef> Wt(MT) </th>
                            <td mat-cell *matCellDef="let element"> {{element.input_weight}} </td>
                        </ng-container>

                        <!-- Input Grade Column -->
                        <ng-container matColumnDef="input_grade">
                            <th mat-header-cell *matHeaderCellDef> Grade </th>
                            <td mat-cell *matCellDef="let element"> {{element.input_grade}} </td>
                        </ng-container>

                        <!-- Cpl coil no Column -->
                        <ng-container matColumnDef="cpl_coil_no_rs">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> CPL Coil No </th>
                        </ng-container>
                        <ng-container matColumnDef="cpl_coil_no">
                            <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> CPL Coil No
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.cpl_coil_no}} </td>
                        </ng-container>

                        <!-- Output Thickness Column -->
                        <ng-container matColumnDef="output_thickness">
                            <th mat-header-cell *matHeaderCellDef> Thickness(mm) </th>
                            <td mat-cell *matCellDef="let element"> {{element.output_thickness}} </td>
                        </ng-container>

                        <!-- Output CPL Width Column -->
                        <ng-container matColumnDef="output_cpl_width">
                            <th mat-header-cell *matHeaderCellDef> CPL Width </th>
                            <td mat-cell *matCellDef="let element"> {{element.output_cpl_width}} </td>
                        </ng-container>

                        <!-- Output Set Width Column -->
                        <ng-container matColumnDef="output_set_width">
                            <th mat-header-cell *matHeaderCellDef> Set Width </th>
                            <td mat-cell *matCellDef="let element"> {{element.output_set_width}} </td>
                        </ng-container>

                        <!-- Output Measured Width Column -->
                        <ng-container matColumnDef="output_measured_width">
                            <th mat-header-cell *matHeaderCellDef> Measured Width </th>
                            <td mat-cell *matCellDef="let element"> {{element.output_measured_width}} </td>
                        </ng-container>

                        <!-- Output Weight Column -->
                        <ng-container matColumnDef="output_weight">
                            <th mat-header-cell *matHeaderCellDef> Output Weight </th>
                            <td mat-cell *matCellDef="let element"> {{element.output_weight}} </td>
                        </ng-container>

                        <!-- Remark Column -->
                        <ng-container matColumnDef="remark_rs">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Remark </th>
                        </ng-container>
                        <ng-container matColumnDef="remark">
                            <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> Remark </th>
                            <td mat-cell *matCellDef="let element"> {{element.remark}} </td>
                        </ng-container>

                        <!-- Process Order Column -->
                        <ng-container matColumnDef="process_order_rs">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Process Order </th>
                        </ng-container>
                        <ng-container matColumnDef="process_order">
                            <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> Process Order </th>
                            <td mat-cell *matCellDef="let element"> {{element.process_order}} </td>
                        </ng-container>

                        <!-- Action Column -->
                        <ng-container matColumnDef="action_rs">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Action </th>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> Action </th>
                            <td mat-cell *matCellDef="let element">
                                <button class="mat-btn-sm" mat-icon-button color="primary">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button class="btn-success" mat-icon-button>
                                    <mat-icon>check_box</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <!-- Input Details column -->
                        <ng-container matColumnDef="input_details">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="4"> Input Details </th>
                        </ng-container>

                        <!-- Output Details column -->
                        <ng-container matColumnDef="output_details">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="5"> Output Details </th>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedTopColumnsCoils2Process"></tr>
                        <tr mat-header-row *matHeaderRowDef="displayedBottomColumnsCoils2Process"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedBottomColumnsCoils2Process;"></tr>
                    </table>
                </div>
                <!-- Table Section ends here -->
            </mat-card-content>
        </mat-card>
    </div>
</div>