#coil-to-process-table {
  width: 170%;
}

/* Tab Css starts here */
.tab-parent {
  overflow-x: auto;
}
.btn-tab-container {
  display: table;
  width: 100%;
  border-spacing: 10px;
}
.btn-tab {
  display: table-cell;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  min-width: 120px;
  cursor: pointer;
}
/* Tab css ends here */