<!-- Process General info section starts here -->
<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Production Status</mat-card-title>
                <!-- ============================================================== -->
                <!-- Form body starts here -->
                <!-- ============================================================== -->
                <form class="basic-form m-t-30">
                    <div fxLayout="row wrap">

                        <!-- select so no column -->
                        <div class="p-r-20" fxFlex.gt-md="30" fxFlex="100">
                            <mat-form-field>
                                <mat-select placeholder="Select SO No">
                                    <mat-option value="option">Option</mat-option>
                                    <mat-option value="option">Option2</mat-option>
                                    <mat-option value="option">Option3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- select so no column ends here-->

                        <!-- from date column -->
                        <div fxFlex.gt-md="30" fxFlex="100">
                            <mat-form-field class="example-full-width">
                                <input matInput [matDatepicker]="fromDataPicker" placeholder="From" readonly
                                    (click)="fromDataPicker.open()">
                                <mat-datepicker-toggle matSuffix [for]="fromDataPicker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi="true" #fromDataPicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <!-- from date column ends here-->

                        <!-- to date column -->
                        <div class="p-l-20 p-r-20" fxFlex.gt-md="30" fxFlex="100">
                            <mat-form-field class="example-full-width">
                                <input matInput [matDatepicker]="toDatePicker" placeholder="To" readonly
                                    (click)="toDatePicker.open()">
                                <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi="true" #toDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <!-- to date column ends here -->

                        <!-- search column -->
                        <div fxFlex.gt-md="10" fxFlex="100">
                            <button class="m-t-10" mat-raised-button color="primary">SEARCH</button>
                        </div>
                        <!-- search column ends here-->
                    </div>

                    <div fxLayout="row wrap" class="p-20">
                        <!-- Info Section -->
                        <div fxFlex.gt-md="50" fxFlex="100">
                            <div class="info-label">
                                <span>Current SO No:</span><span class="p-l-10">0123456</span>
                            </div>
                            <div class="info-label">
                                <span>Customer Name:</span><span class="p-l-10">JSW Steel Vijaynagar</span>
                            </div>
                            <div class="info-label">
                                <span>Next Process:</span><span class="p-l-10">MILL 2</span>
                            </div>
                            <div class="info-label">
                                <span>Process No:</span><span class="p-l-10">1454</span>
                            </div>
                            <div class="info-label">
                                <span>Process Order:</span><span class="p-l-10">1001123456</span>
                            </div>
                        </div>

                        <div fxFlex.gt-md="50" fxFlex="100">
                            <div class="info-label">
                                <span>Current HR Coil No:</span><span class="p-l-10">KUND8k0381</span>
                            </div>
                            <div class="info-label">
                                <span>Grade:</span><span class="p-l-10">C75 S</span>
                            </div>
                            <div class="info-label">
                                <span>Thickness (mm):</span><span class="p-l-10">5.5</span>
                            </div>
                            <div class="info-label">
                                <span>Width (mm):</span><span class="p-l-10">126</span>
                            </div>
                            <div class="info-label">
                                <span>Weight (MT):</span><span class="p-l-10">20</span>
                            </div>
                        </div>
                        <!-- Info Section ends here -->

                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- ============================================================== -->
<!-- Tab row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <mat-tab-group class="p-t-20 m-l-r-25">
                <mat-tab label="Shift {{key}}" *ngFor='let key of [1,2,3]'>
                    <mat-card-content class="card-content">
                        <!-- Card Layout starts here -->
                        <div fxLayout="row wrap" class="tab-parent">
                            <div xFlex.gt-md="100" fxFlex="100" class="btn-tab-container m-t-40 m-b-40">
                                <div class="btn-tab bg-info text-white text-center" [ngClass]="shadow1"
                                    (mouseover)="shadow1='mat-elevation-z20'" (mouseout)="shadow1=''"
                                    (click)="openDwnTmRegDialog()">
                                    <h5>Downtime Register</h5>
                                </div>

                                <div class="btn-tab bg-purple text-white text-center" [ngClass]="shadow2"
                                    (mouseover)="shadow2='mat-elevation-z20'" (mouseout)="shadow2=''"
                                    (click)="openProcessParamDialog()">
                                    <h5>Process Parameters</h5>
                                </div>

                                <div class="btn-tab bg-success text-white text-center" [ngClass]="shadow3"
                                    (mouseover)="shadow3='mat-elevation-z20'" (mouseout)="shadow3=''"
                                    (click)="openConsumableDialog()">
                                    <h5>Consumable</h5>
                                </div>

                                <div class="btn-tab bg-inverse text-white text-center" [ngClass]="shadow4"
                                    (mouseover)="shadow4='mat-elevation-z20'" (mouseout)="shadow4=''"
                                    (click)="openProcessEquipDialog()">
                                    <h5>Process Equipment Status</h5>
                                </div>

                                <div class="btn-tab bg-megna text-white text-center" [ngClass]="shadow5"
                                    (mouseover)="shadow5='mat-elevation-z20'" (mouseout)="shadow5=''"
                                    (click)="openScrapMonitorDialog()">
                                    <h5>Scrap Monitoring</h5>
                                </div>
                                <div class="btn-tab bg-info text-white text-center" [ngClass]="shadow6"
                                    (mouseover)="shadow6='mat-elevation-z20'" (mouseout)="shadow6=''"
                                    (click)="openEcsDialog()">
                                    <h5>ECS</h5>
                                </div>
                            </div>
                        </div>
                        <!-- Card Layout ends here -->

                        <!-- Table section starts here -->
                        <div class="responsive-table">
                            <mat-table #table [dataSource]="dataSource">
                                <!-- Sr No Column -->
                                <ng-container matColumnDef="sr_no">
                                    <mat-header-cell *matHeaderCellDef> Sr. No. </mat-header-cell>
                                    <mat-cell *matCellDef="let element,let i = index;"> {{i + 1}}
                                    </mat-cell>
                                    <mat-cell *matCellDef="let element,let i = index;">
                                        <span class="header-label">Sr. No.</span>
                                        {{i + 1}}</mat-cell>
                                </ng-container>

                                <!-- Date Column -->
                                <ng-container matColumnDef="date">
                                    <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <span class="header-label">Date</span>
                                        {{element.date}}</mat-cell>
                                </ng-container>

                                <!-- HR Coil No Column -->
                                <ng-container matColumnDef="hr_coil_no">
                                    <mat-header-cell *matHeaderCellDef> HR Coil No </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <span class="header-label">HR Coil No</span>
                                        {{element.hr_coil_no}} </mat-cell>
                                </ng-container>

                                <!-- Start Time Column -->
                                <ng-container matColumnDef="start_time">
                                    <mat-header-cell *matHeaderCellDef> Start Time </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <span class="header-label">Start Time</span>
                                        {{element.start_time}} </mat-cell>
                                </ng-container>

                                <!-- Finish Time Column -->
                                <ng-container matColumnDef="finish_time">
                                    <mat-header-cell *matHeaderCellDef> Finish Time </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <span class="header-label">Finish Time</span>
                                        {{element.finish_time}} </mat-cell>
                                </ng-container>

                                <!-- Delay Column -->
                                <ng-container matColumnDef="delay">
                                    <mat-header-cell *matHeaderCellDef> Delay </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <span class="header-label">delay</span>
                                        {{element.delay}} </mat-cell>
                                </ng-container>

                                <!-- Delay Reason Column -->
                                <ng-container matColumnDef="delay_reason">
                                    <mat-header-cell *matHeaderCellDef> Delay Reason </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <span class="header-label">Delay Reason</span>
                                        {{element.delay_reason}} </mat-cell>
                                </ng-container>

                                <!-- Duration Column -->
                                <ng-container matColumnDef="duration">
                                    <mat-header-cell *matHeaderCellDef> Duration </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <span class="header-label">Duration</span>
                                        {{element.duration}} </mat-cell>
                                </ng-container>

                                <!-- Scrap Column -->
                                <ng-container matColumnDef="scrap">
                                    <mat-header-cell *matHeaderCellDef> Scrap (Kg/Ton) </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <span class="header-label">Scrap (Kg/Ton)</span>
                                        {{element.scrap}} </mat-cell>
                                </ng-container>

                                <!-- Status Column -->
                                <ng-container matColumnDef="status">
                                    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <span class="header-label">Status</span>
                                        {{element.status}} </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>
                        </div>
                        <!-- Table Section ends here -->
                    </mat-card-content>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>