.info-label {
  padding: 5px;
}
.info-label span:first-child {
  color: #2196f3;
  font-weight: 500;
}
.m-l-r-25 {
  margin-left: 25px;
  margin-right: 25px;
}
.w-100 {
  width: 100%;
}

/* Tab Css starts here */
.tab-parent {
  overflow-x: auto;
}
.btn-tab-container {
  display: table;
  width: 100%;
  border-spacing: 10px;
}
.btn-tab {
  display: table-cell;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  min-width: 120px;
  cursor: pointer;
}
/* Tab css ends here */

/* Table Border css */
.mat-table {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid #00000000;
}
mat-header-cell:not(:last-child),
mat-cell:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.mat-header-cell {
  font-size: 14px;
  color: #1e88e5;
}
mat-cell,
.mat-cell,
mat-footer-cell,
.mat-footer-cell,
mat-header-cell,
.mat-header-cell {
  padding-left: 0.75rem !important;
}
/* Table Css ends here */

.mat-column-sr_no {
  flex: 0 0 4% !important;
  /* min-width: 5% !important; */
}

.mat-column-hr_coil_no {
  flex: 0 0 15% !important;
  /* min-width: 5% !important; */
}
