<!-- Coils To Process section starts here -->
<div fxLayout="row wrap" id="prod-plan-div">
  <div fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Production Plan
          <button type="button" class="pull-right m-l-10" mat-mini-fab color="basic" matTooltipPosition="above"
            matTooltip="Filter" (click)="panelOpenState = !panelOpenState">
            <mat-icon>filter_list</mat-icon>
          </button>
          <button type="button" class="pull-right m-l-10" mat-mini-fab color="primary" matTooltipPosition="above"
            matTooltip="Print">
            <mat-icon>print</mat-icon>
          </button>
          <button type="button" mat-mini-fab class="btn-success pull-right m-l-10" color="basic"
            matTooltipPosition="above" matTooltip="Export Excel">
            <mat-icon>assignment</mat-icon>
          </button>
          <button type="button" class="pull-right m-l-10" mat-mini-fab color="warn" matTooltipPosition="above"
            matTooltip="Export PDF">
            <mat-icon>picture_as_pdf</mat-icon>
          </button>
        </mat-card-title>

        <br>
        <!-- Table Section starts here -->

        <!-- Tab section starts  -->
        <!-- ============================================================== -->
        <!-- Tab row -->
        <!-- ============================================================== -->
        <div fxLayout="row wrap">
          <!-- Card column -->
          <div fxFlex.gt-sm="100%" fxFlex="100">
            <mat-card>
              <mat-tab-group>
                <mat-tab label="CPL">
                  <mat-card-content class="card-content">
                    <!-- ============================================================== -->
                    <!-- Filter starts here -->
                    <!-- ============================================================== -->
                    <form class="basic-form m-t-30 p-10" *ngIf="panelOpenState">
                      <div fxLayout="row wrap">

                        <!-- select Customer column -->
                        <div class="p-r-20" fxFlex.gt-md="25" fxFlex="100">
                          <mat-form-field>
                            <mat-select placeholder="Select SO No.">
                              <mat-option value="option">Option</mat-option>
                              <mat-option value="option">Option2</mat-option>
                              <mat-option value="option">Option3</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <!-- select Customer column ends here-->

                        <!-- thickness column -->
                        <div fxFlex.gt-md="25" fxFlex="100">
                          <mat-form-field>
                            <mat-select placeholder="Select Customer">
                              <mat-option value="option">Option</mat-option>
                              <mat-option value="option">Option2</mat-option>
                              <mat-option value="option">Option3</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <!-- thickness column ends here-->

                        <!-- select coil no column -->
                        <div class="p-l-20" fxFlex.gt-md="25" fxFlex="100">
                          <mat-form-field>
                            <mat-select placeholder="Select Material Code">
                              <mat-option value="option">Option</mat-option>
                              <mat-option value="option">Option2</mat-option>
                              <mat-option value="option">Option3</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <!-- select coil no column ends here -->

                        <!-- select grade column -->
                        <div class="p-l-20" fxFlex.gt-md="25" fxFlex="100">
                          <mat-form-field>
                            <mat-select placeholder="Select Priotity">
                              <mat-option value="option">High</mat-option>
                              <mat-option value="option">Medium</mat-option>
                              <mat-option value="option">Low</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <!-- select grade column ends here-->
                      </div>

                      <div fxLayout="row wrap">

                        <!-- select so column -->
                        <div fxFlex.gt-md="25" fxFlex="100">
                          <mat-form-field>
                            <mat-select placeholder="Select Grade">
                              <mat-option value="option">Option</mat-option>
                              <mat-option value="option">Option2</mat-option>
                              <mat-option value="option">Option3</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <!-- select so no column ends here-->


                        <!-- search column -->
                        <div class="p-l-20" fxFlex.gt-md="25" fxFlex="100">
                          <button class="m-t-10" mat-raised-button color="primary">SEARCH</button>
                        </div>
                        <!-- search column ends here-->
                      </div>
                    </form>
                    <!-- Filter Ends here -->


                    <!-- Table section starts here -->
                    <div class="responsive-table">
                      <table id="produciton-plan-table" mat-table [dataSource]="dataSourceCoils2ProdPlan"
                        class="m-t-30">
                        <!-- Checkbox Column-->
                        <ng-container matColumnDef="check_box">
                          <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox class="table-checkbox"></mat-checkbox>
                          </th>
                          <td mat-cell *matCellDef="let element">
                            <mat-checkbox class="table-checkbox"></mat-checkbox>
                          </td>
                        </ng-container>

                        <!-- Sr No. Column-->
                        <ng-container matColumnDef="sr_no">
                          <th mat-header-cell *matHeaderCellDef> Sr. No. </th>
                          <td mat-cell *matCellDef="let element,let i = index;"> {{i+1}} </td>
                        </ng-container>

                        <!-- HR Coil No. Column -->
                        <ng-container matColumnDef="hr_coil_no">
                          <th mat-header-cell *matHeaderCellDef> HR Coil No. </th>
                          <td mat-cell *matCellDef="let element"> {{element.hr_coil_no}} </td>
                        </ng-container>

                        <!-- SO No. Column -->
                        <ng-container matColumnDef="so_no">
                          <th mat-header-cell *matHeaderCellDef> SO No. </th>
                          <td mat-cell *matCellDef="let element"> {{element.so_no}} </td>
                        </ng-container>


                        <!-- Customer Name Column -->
                        <ng-container matColumnDef="customer_name">
                          <th mat-header-cell *matHeaderCellDef> Customer </th>
                          <td mat-cell *matCellDef="let element"> {{element.customer_name}} </td>
                        </ng-container>

                        <!-- Material Code Column -->
                        <ng-container matColumnDef="material_code">
                          <th mat-header-cell *matHeaderCellDef> Material Code </th>
                          <td mat-cell *matCellDef="let element"> {{element.material_code}} </td>
                        </ng-container>

                        <!-- HR Width Column -->
                        <ng-container matColumnDef="hr_width">
                          <th mat-header-cell *matHeaderCellDef> HR Width (mm) </th>
                          <td mat-cell *matCellDef="let element"> {{element.hr_width}} </td>
                        </ng-container>

                        <!-- Order Width Column -->
                        <ng-container matColumnDef="order_width">
                          <th mat-header-cell *matHeaderCellDef> Order Width (mm)</th>
                          <td mat-cell *matCellDef="let element"> {{element.order_width}} </td>
                        </ng-container>

                        <!-- Order Thickness Column -->
                        <ng-container matColumnDef="order_thickness">
                          <th mat-header-cell *matHeaderCellDef> Order Thickness (mm)
                          </th>
                          <td mat-cell *matCellDef="let element"> {{element.order_thickness}} </td>
                        </ng-container>

                        <!-- Quantity Column -->
                        <ng-container matColumnDef="quantity">
                          <th mat-header-cell *matHeaderCellDef> QTY. </th>
                          <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                        </ng-container>

                        <!-- Expected Actual Path Column -->
                        <ng-container matColumnDef="expected_actual_path">
                          <th mat-header-cell *matHeaderCellDef> Expected & Actual Path </th>
                          <td mat-cell *matCellDef="let element"> {{element.expected_actual_path}} </td>
                        </ng-container>

                        <!-- Priority Column -->
                        <ng-container matColumnDef="priority">
                          <th mat-header-cell *matHeaderCellDef> Priority </th>
                          <td mat-cell *matCellDef="let element">
                            <select class="table-select">
                              <option value="first">High</option>
                              <option value="second">Medium</option>
                              <option value="third">Low</option>
                            </select>
                          </td>
                        </ng-container>

                        <!-- Grade Equivalent Column -->
                        <ng-container matColumnDef="grade_equivalent">
                          <th mat-header-cell *matHeaderCellDef> Grade/Equivalent </th>
                          <td mat-cell *matCellDef="let element">
                            <select class="table-select">
                              <option value="first">CH</option>
                              <option value="second">AH</option>
                              <option value="third">TH</option>
                            </select>
                          </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsProdPlan"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsProdPlan;"></tr>
                      </table>
                    </div>
                    <!-- Table Section ends here -->
                  </mat-card-content>
                </mat-tab>

                <mat-tab label="MILL">
                  <mat-card-content class="card-content">
                    <span>MILL Section</span>
                  </mat-card-content>
                </mat-tab>

                <mat-tab label="CGL">
                  <mat-card-content class="card-content">
                    <span>CGL Section</span>
                  </mat-card-content>
                </mat-tab>

                <mat-tab label="CCL">
                  <mat-card-content class="card-content">
                    <span>CCL Section</span>
                  </mat-card-content>
                </mat-tab>

              </mat-tab-group>
            </mat-card>
          </div>
        </div>
        <!-- Tab section ends -->

        <div fxLayout="row wrap" class="m-t-20">
          <!-- Create Plan Button -->
          <div fxFlex.gt-md="100" fxFlex="100">
            <button mat-raised-button color="primary" class="pull-right">Create Plan</button>
          </div>
        </div>
        <!-- Table Section ends here -->
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- ============================================================== -->
<!-- Tab row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card>
      <mat-tab-group class="p-30">
        <mat-tab label="Campaign">
          <mat-card-content class="card-content">
            <!-- Table section starts here -->
            <div class="responsive-table">
              <table id="campaign-table" mat-table [dataSource]="dataSourceCampaigns" class="m-t-30">
                <!-- Sr No. Column-->
                <ng-container matColumnDef="sr_no">
                  <th mat-header-cell *matHeaderCellDef> Sr. No. </th>
                  <td mat-cell *matCellDef="let element,let i = index;"> {{i+1}} </td>
                </ng-container>

                <!-- Campaign Id Column -->
                <ng-container matColumnDef="campaign_id">
                  <th mat-header-cell *matHeaderCellDef> Campaign ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.campaign_id}} </td>
                </ng-container>

                <!-- Width Column -->
                <ng-container matColumnDef="width">
                  <th mat-header-cell *matHeaderCellDef> Width (mm)
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.width}} </td>
                </ng-container>

                <!-- Time Column -->
                <ng-container matColumnDef="time">
                  <th mat-header-cell *matHeaderCellDef> Time </th>
                  <td mat-cell *matCellDef="let element" [tooltip]="toolTipHtml" [options]="tooltipOption"
                    color="primary"> {{element.time}}
                  </td>
                </ng-container>
                <ng-template #toolTipHtml>
                  <div fxLayout="row wrap">
                    <div fxFlex.gt-md="100" fxFlex="100">
                      <div class="pull-left"><strong> Start Date : </strong>27/06/2019</div>
                      <div class="pull-left"><strong>End Date : </strong>27/06/2019</div>
                      <div><strong>Start Time : </strong>10 AM</div>
                      <div><strong>End Time : </strong>10 AM</div>
                    </div>
                  </div>
                </ng-template>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Status </th>
                  <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsCampaign"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsCampaign;"></tr>
              </table>
            </div>
            <!-- Table Section ends here -->
          </mat-card-content>
        </mat-tab>

        <mat-tab label="Parting">
          <mat-card-content class="card-content">
            <!-- Table section starts here -->
            <div class="responsive-table">
              <table id="parting-table" mat-table [dataSource]="datasourceParting" class="m-t-30">
                <!-- Sr No. Column-->
                <ng-container matColumnDef="sr_no">
                  <th mat-header-cell *matHeaderCellDef> Sr. No. </th>
                  <td mat-cell *matCellDef="let element,let i = index;"> {{i+1}} </td>
                </ng-container>

                <!-- Coil No Column -->
                <ng-container matColumnDef="coil_no">
                  <th mat-header-cell *matHeaderCellDef> Coil No </th>
                  <td mat-cell *matCellDef="let element"> {{element.coil_no}} </td>
                </ng-container>

                <!-- Width Column -->
                <ng-container matColumnDef="width">
                  <th mat-header-cell *matHeaderCellDef> Width (mm)
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.width}} </td>
                </ng-container>

                <!-- Thickness Column -->
                <ng-container matColumnDef="thickness">
                  <th mat-header-cell *matHeaderCellDef> THK (mm) </th>
                  <td mat-cell *matCellDef="let element"> {{element.thickness}}
                  </td>
                </ng-container>

                <!-- Parted Count Column -->
                <ng-container matColumnDef="parted_count">
                  <th mat-header-cell *matHeaderCellDef> Parted Count </th>
                  <td mat-cell *matCellDef="let element"> {{element.parted_count}} </td>
                </ng-container>

                <!-- Quantity Column -->
                <ng-container matColumnDef="quantity">
                  <th mat-header-cell *matHeaderCellDef> QTY. (T) </th>
                  <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                </ng-container>

                <!-- Reason Column -->
                <ng-container matColumnDef="reason">
                  <th mat-header-cell *matHeaderCellDef> Reason </th>
                  <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsParting"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsParting;"></tr>
              </table>
            </div>
            <!-- Table Section ends here -->
          </mat-card-content>
        </mat-tab>

        <mat-tab label="Activity Log">
          <mat-card-content class="card-content">
            <div fxLayout="row wrap" class="log-row" *ngFor="let item of activityLog">

              <div fxFlex.gt-md="7" fxFlex="100">
                <div class="operator-icon">
                  <mat-icon>account_circle</mat-icon>
                </div>
              </div>
              <div fxFlex.gt-md="73" fxFlex="100">
                <h5 class="operator-name">{{item.operator_name}}</h5>
                <div>{{item.description}}
                </div>
              </div>

              <div fxFlex.gt-md="20" fxFlex="100">
                <span class="pull-right">
                  <h5 class="operator-name">&nbsp;</h5>
                  <mat-icon class="date-time-mat-icon pl-5">access_time</mat-icon>
                  <span>{{item.date_time}}</span>
                </span>
              </div>
            </div>

          </mat-card-content>
        </mat-tab>

      </mat-tab-group>
    </mat-card>
  </div>
</div>