<!-- Process WIP details section starts here -->
<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Process WIP Details</mat-card-title>
                <!-- ============================================================== -->
                <!-- Info body starts here -->
                <!-- ============================================================== -->
                <div class="basic-form">
                    <div fxLayout="row wrap" class="p-20">
                        <!-- Info Section -->
                        <div fxFlex.gt-md="50" fxFlex="100">
                            <div class="info-label">
                                <span>CGL :</span><span class="p-l-10">1000 T</span>
                            </div>
                            <div class="info-label">
                                <span>MILL 1 :</span><span class="p-l-10">800 T</span>
                            </div>
                        </div>

                        <div fxFlex.gt-md="50" fxFlex="100">
                            <div class="info-label">
                                <span>GALVALUME :</span><span class="p-l-10">1200 T</span>
                            </div>
                            <div class="info-label">
                                <span>MILL 2 :</span><span class="p-l-10">600 T</span>
                            </div>
                        </div>
                        <!-- Info Section ends here -->
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- Production Status section starts here -->
<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Production Status</mat-card-title>
                <!-- ============================================================== -->
                <!-- Info body starts here -->
                <!-- ============================================================== -->
                <div class="basic-form">
                    <div fxLayout="row wrap" class="m-t-40">
                        <!-- Info Section -->
                        <div fxFlex.gt-md="40" fxFlex="100" class="set-bdr-rt">
                            <div class="piechart text-center">
                                <x-chartist class="" [data]="donuteChart1.data" [type]="donuteChart1.type"
                                    [options]="donuteChart1.options"
                                    [responsiveOptions]="donuteChart1.responsiveOptions" [events]="donuteChart1.events">
                                </x-chartist>
                            </div>
                            <ul class="list-inline text-center">
                                <li>
                                    <h6 class="text-muted text-success m-0">
                                        <i class="fa fa-circle font-10 m-r-10 "></i>Planned</h6>
                                </li>
                                <li>
                                    <h6 class="text-muted  text-info  m-0">
                                        <i class="fa fa-circle font-10 m-r-10"></i>Achieved</h6>
                                </li>
                            </ul>
                        </div>

                        <div fxFlex.gt-md="60" fxFlex="100" class="p-20">
                            <div class="info-label">
                                <span>No. of Coils Planned :</span><span class="p-l-10">150</span>
                            </div>
                            <div class="info-label">
                                <span>No. of Coils Pickled :</span><span class="p-l-10">40</span>
                            </div>
                            <div class="info-label">
                                <span>Utilized Hrs :</span><span class="p-l-10">22:00 Hrs</span>
                            </div>
                            <div class="info-label">
                                <span>Unutilized Hrs:</span><span class="p-l-10">02:00 Hrs</span>
                            </div>
                        </div>
                        <!-- Info Section ends here -->
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- Scrap & Blade Replacement Details section starts here -->
<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Scrap & Blade Replacement Details</mat-card-title>
                <!-- ============================================================== -->
                <!-- Info body starts here -->
                <!-- ============================================================== -->
                <div class="basic-form" class="m-t-30">
                    <div fxLayout="row wrap">
                        <!-- Info Section -->
                        <div fxFlex.gt-md="30" fxFlex="100">
                            <!-- Table Section starts here -->
                            <div class="table-responsive smart-table">
                                <ng2-smart-table [source]="scrapSource" [settings]="scrapSettings"
                                    class="mat-table no-wrap">
                                </ng2-smart-table>
                            </div>
                            <!-- Table Section ends here -->
                        </div>

                        <div fxFlex.gt-md="5" fxFlex="100">
                        </div>

                        <div fxFlex.gt-md="65" fxFlex="100">
                            <!-- Table Section starts here -->
                            <div class="table-responsive smart-table">
                                <ng2-smart-table [source]="replacementSource" [settings]="replacementSettings"
                                    class="mat-table no-wrap"></ng2-smart-table>
                            </div>
                            <!-- Table Section ends here -->
                        </div>
                        <!-- Info Section ends here -->
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- Mass Balancing Details section starts here -->
<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Mass Balancing</mat-card-title>
                <!-- ============================================================== -->
                <!-- Info body starts here -->
                <!-- ============================================================== -->
                <div class="basic-form" class="m-t-30">
                    <div fxLayout="row wrap">
                        <!-- Table Section -->
                        <div fxFlex.gt-md="100" fxFlex="100">
                            <div class="table-responsive smart-table">
                                <ng2-smart-table [source]="massBalSource" [settings]="massBalSettings"
                                    class="mat-table no-wrap"></ng2-smart-table>
                            </div>
                        </div>
                        <!-- Table Section ends here -->
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>