<h1 mat-dialog-title>ECS</h1>
<div mat-dialog-content>
  <!-- Table  starts here -->
  <div fxLayout="row wrap">
    <!-- Header  -->
    <div fxFlex.gt-md="25" fxFlex="100">
      <div class="div-blk-label text-center p-10">Quality</div>
    </div>
    <div fxFlex.gt-md="25" fxFlex="100">
      <div class="div-blk-label text-center p-10">Maintenance</div>
    </div>
    <div fxFlex.gt-md="25" fxFlex="100">
      <div class="div-blk-label text-center p-10">Technical</div>
    </div>
    <div fxFlex.gt-md="25" fxFlex="100">
      <div class="div-blk-label text-center p-10">Tool</div>
    </div>
    <!--Header ends  -->
  </div>
  <!-- Table  ends here -->
</div>
<div mat-dialog-actions class="pull-right m-t-10">
  <button mat-raised-button color="primary" class="m-r-15" (click)="close()">Submit</button>
</div>