/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
.btn-success {
  color: green !important;
}
.div-label {
  color: #1e88e5 !important;
  font-weight: 400;
}
.div-blk-label {
  color: #2f3d4a !important;
  font-weight: 400;
}
.padding-l-r-10 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

/* Table Css starts here */
table {
  width: 100%;
  border: 1px solid #e0e0e0;
  border-bottom: 1px solid #00000000;
}

.mat-header-cell {
  font-size: 14px !important;
  color: #1e88e5 !important;
}
th.mat-header-cell,
td.mat-cell {
  text-align: center !important;
  padding: 0 !important;
}

th.mat-header-cell:not(:last-child),
td.mat-cell:not(:last-child) {
  border-right: 1px solid #e0e0e0;
}
/* Table Css Ends here */

/* Button css */
.mat-btn-sm {
  min-height: 25px !important;
  font-size: 11px !important;
  line-height: 0px !important;
}
/* Button css ends here */

/* Tooltip css */
.tooltip {
  background-color: #1e88e5de !important;
  max-width: 350px !important;
}
.tooltip::after {
  border-color: #1e88e5de transparent transparent !important;
}
/* Tooltip css ends here */
.pull-left {
  float: left !important;
}

/* Css remove input type spinner */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

table input {
  border: 0px !important;
  text-align: center;
  padding: 0px !important;
  font-size: 14px !important;
}

/* Smart Table css */
.smart-table table tr {
  border-bottom: 1px solid #e0e0e0;
}
.smart-table table th,
.smart-table table td {
  border-right: 1px solid #e0e0e0;
}
/* Smart Table css ends here */

/* Dialog width */
.cdk-overlay-pane {
  max-width: 90vw !important;
}
/* Dialog width ends here */

.set-o-bdr {
  border: 1px solid #e0e0e0;
  border-right: 0px;
  border-bottom: 0px;
}
.set-o-bdr > div {
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.table-input {
  width: 100%;
  font-size: 14px;
  border: 0px;
  line-height: 40px;
}

.table-checkbox {
  padding-left: 10px;
  padding-right: 10px;
}
.table-select {
  width: 80%;
  font-size: 14px;
  border: 0px;
  background: transparent;
}
.no-bdr-btm {
  border-bottom: 0px !important;
}
.set-bdr-rt {
  border-right: 1px solid #e0e0e0;
}

/* Restricts mat tab to auto scroll to top of the page */
mat-tab-group {
  min-height: 300px;
}

.text-violet {
  color: #7460ee;
}

.pie-val-label {
  font-size: 12px;
  font-weight: 500;
}

.p-l-30 {
  padding-left: 30px;
}

.p-l-20 {
  padding-left: 20px;
}

.p-b-15 {
  padding-bottom: 15px;
}
