@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-pseudo-checkbox-checked::after {
    top: 1.4px !important;
    width: 10px !important;
    height: 5px !important;
}

.mat-form-field-infix {
    border-top:0 !important;
}

.mat-form-field-type-mat-select,.mat-form-field-type-mat-input,.mat-input-element{
    width: 100% !important;
}
textarea{
    resize: none !important;
}

mat-form-field{
    margin-bottom: 15px;
}
.mat-column-sr_no,.mat-column-action {
    flex: 0 0 5% !important;
    min-width: 10% !important;
  }
/* Sidebar css */
/* Add application styles & imports to this file! */
.ng-sidebar {
    background: white;
    width: 13rem;
    margin-top: 55px;
}

.ng-sidebar--right {
    color: white !important;
    background: #222;
    width: 14rem;
}

/* For hiding input type number scroller */
.no-scroll::-webkit-inner-spin-button, 
.no-scroll::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.img-prev-dialog-container .mat-dialog-container{
    padding: 0px!important;
    border-radius: 5px;
    border: 3px solid black;
}