<div class="">
  <div class="example-header">
    <div class="row">
      <div class="col-md-6">
        <!-- <h4 class="pull-left">Client List</h4> -->
      </div>
      <div class="col-md-6">
        <button class="pull-right" mat-raised-button color="primary" [routerLink]="['/client/create']">Create</button>
      </div>
    </div>
  </div>


  <div class="mat-elevation-z8">

    <mat-table #table [dataSource]="dataSource" cdkDropList [cdkDropListData]="dataSource" (cdkDropListDropped)="dropTable($event)">

      <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
      <!-- Sr No Column -->
      <ng-container matColumnDef="sr_no">
        <mat-header-cell *matHeaderCellDef> Sr. No. </mat-header-cell>
        <mat-cell *matCellDef="let element,let i = index;"> {{(i+1)}}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>}
        <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
      </ng-container>

      <!-- email Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
      </ng-container>

      <!-- mobile Column -->
      <ng-container matColumnDef="mobile">
        <mat-header-cell *matHeaderCellDef> Mobile </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.mobile}} </mat-cell>
      </ng-container>

      <!-- status Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp;&nbsp;Status </mat-header-cell>
        <mat-cell *matCellDef="let element">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-slide-toggle [(ngModel)]="element.active"></mat-slide-toggle>
        </mat-cell>
      </ng-container>

      <!-- action Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element">

          <button mat-icon-button title="View" (click)="openDialog(element)" color="primary">
            <mat-icon matSuffix>visibility</mat-icon>
          </button>
          &nbsp;
          <a [routerLink]="['/client/update/',element.id]">
            <mat-icon matSuffix>edit</mat-icon>
          </a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="row"></mat-row>
    </mat-table>
  </div>

</div>